/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%MY Styles%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Michroma&family=Poppins:ital,wght@0,200;0,400;0,600;1,500&display=swap');

.coachingCard:hover{
    cursor: pointer;
    color: rgb(37, 35, 35);
  
  }
  .coachingCard{
    position: relative;
    margin: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    padding: 1rem;
    overflow: hidden;
    background: rgb(208, 208, 208);
  }
  .perDes{
    font-size: 20px;
    font-family: "poppins";
    margin: 20px;
   
  }
  .list{
    font-size: 30px;
  }
  .list-item-meta-title,
  .list-item-meta-description,
  .list-item-link {
    font-size: 30px;
  }
  .ant-card-bordered {
    border: 2px solid  rgb(214, 214, 214);;
    position: relative;
    margin: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    padding: 1rem;
    overflow: hidden;
    background: rgb(226, 226, 226); /* add color border */
  }
  
  .ant-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* add hover shadow effect */
    transform: scale(1.1); /* zoom effect on hover */
    transition: all 0.3s ease-in-out; /* smooth transition */
    background-color: #d5d5d5; /* Change the background color on hover */
  cursor: pointer; /* Show a pointer cursor on hover */
   /* Add a slight vertical translation on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow on hover */
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Add a smooth transition effect */
    
  }
  .packageCards{
    margin: 100px;
  }
  .requrementForm{
    margin-top: 80px;
  }
  .form{
    font-size: 40px;
  }
  .submit{
    margin-top: 100px;
  }
  .formletters{
   margin-left: 150px;
  }
  .subbutton{
    margin-left: 200px;
  }
  .slideShowCoachList{
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .selectCoach{
    margin-top: 40px;
  }
  .intro-text{
    font-size: 30px;
    font-family: "poppins";
  }
  .intro-paragraph {
    margin-bottom: 1rem; /* add 1 rem of space between the intro-paragraph and main-paragraph */
    font-size: 20px;
    font-family: "poppins";
    margin: 40px;
    
  }
.home-page{
    margin-bottom: 90px;
}




  /* Head Coach Dash Board */
 
.revenue {
    text-align: left;
    font-family:'Poppins' ;
    font-size: 30px;
    font-weight: 600;
    
    

}
.TotalRevenue {
    text-align: left;
    font-family:'Poppins' ;
    font-size: 25px;
    font-weight: 600;
    margin-top: -60px;

}
.date{
    text-align: left;
    font-family:'Poppins' ;
    font-size: 20px;
    font-weight: 600;
    margin-top: -40px;
    margin-left: 10px;
}
.big-black-button {
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    background-color: black;
    display: flex;
  justify-content: center;
  border-radius: 10px;
  background: linear-gradient(to right, rgb(100, 99, 99), rgb(81, 80, 80) 20%, rgb(84, 84, 84));

  }
  .search{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 50px 20px;
    color: 'black';

  }
  .actions{
    display: flex;
    align-items: center;
    justify-content: left;
    width:15%;
    padding: 50px 20px;
    color: 'black';
    margin-right: -60px;
  }
  .btn-next-container {
    text-align: center;
    
    
  }
  .createPlanButton{
    font-size: 20px;
    padding: 15px 20px;
    color: white;
    background-color: black;
    display: flex;
  justify-content: center;
  border-radius: 10px;
  background: linear-gradient(to right,  rgb(100, 99, 99), rgb(81, 80, 80) 20%, rgb(84, 84, 84));

  }
  .createPlanButton:hover {
    cursor: pointer;
  }
  .big-black-button:hover {
    cursor: pointer;
  }
  .dropdown{
    
      opacity: 0.5;
   

  }
  .notification{
     margin-left: 350px;
     margin-top: 60px;
     

  }
 .notifi{
  margin-left: 820px;
     margin-top: -150px;
     

 }

 .menu{
  margin-left: 620px;
 }
 .title{
  text-align: center;
  background-color: #ebebeb;
  padding: 20px;
  font-family:'Poppins' ;
  font-size: 40px;
  font-weight: 600;
  
 }
 .AVATAR{
  margin-top: 60px;
 }
 .Details{
  margin-top: 150px;
 }
 .title .h1tag{
  margin: 20px;

 }


 /* Online Coaching */
 .packageards{
    margin-top: 50px;
 }
 .packageards {
  margin: 20px 0;
}
.ant-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -16px;
  margin-left: -16px;
}
.ant-col {
  flex: 1;
  padding-right: 16px;
  padding-left: 16px;
}


 /* div {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  } */
  
  /* h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 20px;
    margin-bottom: 10px;
  }
   */
  /* ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  li {
    font-size: 18px;
    margin-bottom: 10px;
  } */
  .buttonLetsGetStart {
    display: block;
    width: 100%;
    max-width: 300px;
    height: 60px;
    background-color: #1fa0fc;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto 0;
    transition: background-color 0.2s;
    margin-bottom: 40px;
  }
  
  button:hover {
    background-color: #005ea6;
  }
  a {
    text-decoration: none;
  }

  /* Coach List */
  .SelectingCoach{
    margin-top: 100px;
  }

  /* Online Coaching */
  h2.Instructions{
    margin-left: -100px;
  }
  .workout-plan-container {
    border: 3px solid #c7c4c4;
    padding: 20px;
    margin: 20px;
  }




























/* ##########################################################Overview section################################################################## */
.client-gig-view {
  width: 90%;
  margin: 0 5%;
}

.client-gig-view {
  display: flex;
}

.left-side {
  flex: 2;
  padding-right: 20px;
}

.right-side {
  flex: 1;
}

.pkg-details {
  padding: 10px;
  margin-top: 25px;
  border: 1px solid gray;
}
ul {
  list-style: none;
  padding: 0px;
}
li {
  display: flex;
  flex-direction: row;
}
.check-mark {
  font-size: 20px;

  font-weight: bold;
  color: rgb(10, 237, 10);

  align-items: center;
}
span {
  display: flex;
  padding-left: 10px;
  color: #aeabab;
}

.continue-btn {
  width: 200px;
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: red;
  border: 1px solid red;
  cursor: pointer;
}
.continue-btn:hover {
  font-size: 16px;
  font-weight: bold;
  color: red;
  background-color: #fff;
  border: 1px solid red;

  cursor: pointer;
}

.second-menu {
  width: 90%;
  margin: 0 5%;
}
.ant-menu-title-content {
  padding: 0px;
}

:where(.css-dev-only-do-not-override-sk7ap8).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item-selected::after {
  border-bottom-width: 3;
  padding-left: 0;
  border-bottom-color: #fa5c18;
}
.rate-name-orders-div h3 {
  margin-top: 0px;
  color: #aeabab;
}
.gig-title {
  text-align: left;
  font-size: 30px;
}
.rate-name-orders-div h2 {
  margin-bottom: 0px;
  color: #aeabab;
  display: flex;
  flex-direction: row;
}

.gig-image {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: start;
}
.gig-image img {
  width: 100%;
  height: auto;
}

.about-gig h2 {
  color: black;
}
.description {
  width: 80%;
  text-align: justify;
}

.sellers-ideas-of-gig h2 {
  color: black;
}
.sellers-reviews div {
  width: 70%;
}
.review-section {
  width: 600px;
  height: 150px;
  padding: 20px;
  border: 1px solid gray;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}
.review-tag {
  width: 100%;
  text-align: center;
  font-style: italic;
  color: rgb(56, 46, 46);
}

.client-name {
  width: 100%;
  text-align: center;
  color: #aeabab;
}
.contact-me-btn {
  width: 100%;
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #720026;
  background-color: #fff;
  border: 1px solid #720026;
  cursor: pointer;
}
.contact-me-btn:hover {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #720026;
  border: 1px solid #720026;
  cursor: pointer;
}
.slick-current {
  width: 600px;
}

/*##################################################### About seller section################################################### */
/* SELLER MAIN DETAILS STYLES */

.seller-main-details {
  width: 600px;
  display: flex;
  flex-direction: row;
}
.profile-picture {
  width: 106px;
  height: 106px;
  border-radius: 50%;
  border: 2px solid rgb(15, 234, 15);
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-picture img {
  width: 100px;
  height: 100px;
}
.details {
  width: 400px;
  margin-left: 30px;
  padding-bottom: 20px;
}
.details .seller-name {
  margin: 0px;
  text-align: left;
}
.details span {
  padding: 0px;
}

.contact-btn {
  width: 250px;
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #720026;
  background-color: #fff;
  border: 1px solid #720026;
  cursor: pointer;
}
.contact-btn:hover {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #720026;
  border: 1px solid #720026;
  cursor: pointer;
}

/* SELLER INFORMATION SECTION */
.seller-information {
  border: 1px solid gray;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* ################# review section  ############ */

.review-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.review {
  border: 2px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.review-rating {
  font-weight: bold;
  margin-bottom: 10px;
}

.review-text {
  margin-bottom: 10px;
}

.review-name {
  font-style: italic;
  text-align: right;
}
.CardDetailsh1{
  text-align: center;
}